html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji';
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
